h1{
    display: flex;
    justify-content:space-around;
}

#lists{
    display: flex;
    /*flex-direction:row;
    align-items: center;
    justify-content: space-around;*/
    flex-wrap: wrap ;
    
}

#first{
flex: 200px;
border: 2px  solid  orange;
margin: 20px;
}

#second{
    flex: 200px;
    border: 2px  solid  orange;
    margin: 20px;
}

#third{
    flex: 200px;
    border: 2px  solid  orange;
    margin: 20px;
}

h2{
   margin-left: 130px;
   padding: 14px 28px;
   margin-top: 10px;
}

.previous2 , .previous3 {
    border: none;
    background-color:orangered;
    margin: auto;
    padding: 14px 28px;
    font-size: 16px; 
    width: 50%;
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

.previous1 {
    border: none;
    background-color: rgb(220, 220, 220);
    margin: auto;
    padding: 14px 28px;
    font-size: 16px;
    width: 50%;
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

.next1 , .next2{
    border: none;
    background-color:orangered;
    margin: auto;
    padding: 14px 28px;
    font-size: 16px;
    width: 50%;
    display: block;
    cursor: pointer;
    margin-top: 3px;
}

.next3 {
    border: none;
    background-color:  rgb(220, 220, 220);
    margin: auto;
    padding: 14px 28px;
    font-size: 16px;
    width: 50%;
    display: block;
    cursor: pointer;
    margin-top: 3px;
}


button{
    text-align: center;
}
  
/*button:hover {
    background-color: #ddd;
    color: black;
}*/

.id1 , .id2, .id3, .id4{
    border: none;
    background-color:white;
    margin: auto;
    padding: 14px 28px;
    font-size: 16px;
    width: 50%;
    display: block;
    cursor: pointer;
    margin-top: 3px; 
}

.id4{
    background-color:orangered;
}
